html {
	height: 100% ;
    margin: 0;
    padding: 0;
}
body {
    height: 100% ;
    margin: 0;
    padding: 0;
}

/*Position and the size of map*/
#map {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/*Static div for filter list to prevent resizing when list shortens*/
.filter {
    padding-top: 25px;
}

/*Static div for filter list to prevent resizing when list shortens*/
#list-view {
    height: 125px;
}

/*Change cursor to show list is active and can be clicked*/
#listItems {
    cursor: pointer;
}
